.about__content {
  font-size: 90%;
  line-height: 1rem;
}

@media only screen and (min-width: 480px) {
  .about__content {
    line-height: 1.3rem;
  }
}

@media only screen and (min-width: 767px) {
  .about__content {
    line-height: 1.5rem;
    font-size: 85%;
  }
}


