:root {
  --color-primary: #ffffff;
  --color-font: #252527;
  --color-shadow: 0, 0, 0;
  --color-opposite-shadow: 240, 240, 240;
  --color-secondary: #f4f4f4;
  --color-disabled: #aaaaaa;
  --color-transparent: Transparent;
  --color-pink: #ca2c92;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-green: #008000;
  --color-red: #b33030;
  --color-yellow: #f5d252;
  
}

[theme="dark"] {
  --color-primary: #141414;
  --color-secondary: #3c3c3d;
  --color-font: #ffffff;
  --color-shadow: 240, 240, 240;
  --color-disabled: #aaaaaa;
  --color-transparent: Transparent;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/images/gym-icons.png"),
    linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    linear-gradient(var(--color-pink), var(--color-pink));
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  color: var(--color-font);
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body.overlay {
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.page__card {
  margin: 30px auto;
  width: 80%;
}

.page__card--relative {
  position: relative;
}

.page__card-title {
  color: var(--color-pink);
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
  font-size: 125%;
}

.form__item {
  width: 90%;
  margin: 20px auto;
}

.form__button {
  margin: 60px auto;
  width: 90%;
}

.form__toggle {
  text-align: left;
}

.page__card-footer {
  color: var(--color-pink);
  font-style: italic;
  margin: auto 20px;
}

.page__card-footer:hover {
  cursor: pointer;
  border-bottom: 0.5px solid var(--color-pink);
}

.help-link {
  color: var(--color-pink);
  font-style: italic;
  font-size: 80%;
}

.link {
  color: var(--color-font);
  font-style: italic;
  font-size: 90%;
}

.link:hover {
  cursor: pointer;
  opacity: 0.75;
}


@media only screen and (min-width: 480px) {
  body {
    font-size: 0.85rem;
  }

  .page__card {
    width: 75%;
  }
}

@media only screen and (min-width: 767px) {
  body {
    font-size: 1rem;
  }

  .page__card {
    width: 60%;
  }

  .form__item {
    width: 70%;
  }

  .form__button {
    width: 70%;
  }
}


@media only screen and (min-width: 1023px) {
  .page__card {
    width: 40%;
  }
}
